<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="phase1.gamecenter">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".StartingActivity" />
        <activity android:name=".GameActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".GameCenterMainActivity" />
        <activity android:name=".SlidingTileMainPageActivity" />
        <activity android:name=".BoardComplexity" />
        <activity android:name=".UserScoreBoard" />
        <activity android:name=".ColourGameActivity" />
        <activity android:name=".ColourStartingActivity" />
        <activity android:name=".DifficultyLevel" />
        <activity android:name=".LogoutActivity" />
        <activity android:name=".UserScoreBoardActivity"></activity>
        <activity android:name=".ColourRankingsActivity" />
        <activity android:name=".ColourScoreBoard3x3" />
        <activity android:name=".ColourScoreBoard5x5" />
        <activity android:name=".ColourTileRoundsActivity"/>
        <activity android:name=".connectnumbers.ConnectFourMainActivity" />
        <activity android:name=".connectnumbers.ConnectNumbersStartingActivity" />
        <activity android:name=".connectnumbers.ConnectFourPlayersActivity" />
        <activity android:name=".connectnumbers.ConnectFourAIEasyMainActivity" />
        <activity android:name=".connectnumbers.ConnectNumbersSelectActivity" />
        <activity android:name=".connectnumbers.ConnectThreeAIEasyMainActivity" />
        <activity android:name=".connectnumbers.ConnectThreeAIHardMainActivity" />
        <activity android:name=".connectnumbers.ConnectThreeMainActivity" />
        <activity android:name=".connectnumbers.ConnectThreePlayersActivity" />
        <activity android:name=".connectnumbers.ConnectThreeDifficultyActivity" />
        <activity android:name=".connectnumbers.ConnectFourDifficultyActivity" />
        <activity android:name=".connectnumbers.ConnectNumbersRankingsActivity" />
        <activity android:name=".connectnumbers.ConnectThreeRankingsMainActivity" />
        <activity android:name=".connectnumbers.ConnectFourRankingsMainActivity" />
        <activity android:name=".connectnumbers.ConnectFourRankings1PlayerActivity"/>
        <activity android:name=".connectnumbers.ConnectFourRankings2PlayersActivity"/>
        <activity android:name=".connectnumbers.ConnectThreeRankings1PlayerActivity"/>
        <activity android:name=".connectnumbers.ConnectThreeRankings2PlayersActivity"/>
        <activity android:name=".connectnumbers.ConnectThreeActivity" />


        <activity android:name=".LeaderboardActivity"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>