<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="phase1.gamecenter">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".slidingtiles.SlidingTilesGameActivity" />
        <activity android:name=".registrationinfo.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".registrationinfo.RegisterActivity" />
        <activity android:name=".GameCenterMainActivity" />
        <activity android:name=".slidingtiles.SlidingTileMainPageActivity" />
        <activity android:name=".slidingtiles.BoardComplexity" />
        <activity android:name=".matched.MatchedGameActivity" />
        <activity android:name=".matched.MatchedStartingActivity" />
        <activity android:name=".slidingtiles.DifficultyLevel" />
        <activity android:name=".registrationinfo.LogoutActivity" />
        <activity android:name=".registrationinfo.UserScoreBoardActivity"></activity>
        <activity android:name=".matched.MatchedRoundsActivity" />
        <activity android:name=".connectnumbers.ConnectFourMainActivity" />
        <activity android:name=".connectnumbers.ConnectNumbersStartingActivity" />
        <activity android:name=".connectnumbers.ConnectNumbersSelectActivity" />
        <activity android:name=".connectnumbers.ConnectThreeAIEasyMainActivity" />
        <activity android:name=".connectnumbers.ConnectThreeAIHardMainActivity" />
        <activity android:name=".connectnumbers.ConnectThreeMainActivity" />
        <activity android:name=".connectnumbers.ConnectThreeDifficultyActivity" />
        <activity android:name=".registrationinfo.LeaderboardActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>